html 
    head 
        title forside 
    body 
        include includes/spiller.pug
        include includes/login.pug
        form(action="/spilside", method="get")
            button(type="submit") Start 

