h1 Opret Bruger 
<<<<<<< HEAD
form(action="/:spiller", method="post")
=======
form(action="/", method="post")
>>>>>>> 36dc621d33d9533c75a1d6eb8b951032b8ffc21c
    label username: 
    input(type="text", name='spiller')
    button(type="submit") Opret 

    